html, body, #root {
    height: 100%;
    overflow-x: hidden;
  }
.about-page{
    width:100%;
    margin-top: 6rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
    .about-page{
        height: auto;
        margin-top: -0.5px;
        padding-top: 3.5rem ;
    }
}